# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Frontend
client/node_modules

# Backend
server/node_modules


# Miscellaneous
.DS_Store
server/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE configurations
.idea/
.vscode/

# Editor temporary files
*.tmp

# Log files
*.log

# Minified files
*.min.js
*.min.css

# Source map files
*.map

# Testing files
**/__tests__/**
**/tests/**

# ESLint cache
.eslintcache