header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: rgb(28, 19, 155);
    margin-bottom: 10px;
}

.cotainer1 {
    justify-content: left;
}

.logoHeader {
    margin: 3px;
    max-width: 60px;
    height: 60px;
}

.roboticHeader {
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

.welcomeHeader {
    color: white;
    font-size: 18px;
}

.exit {
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    padding: 5px 14px;
    color: black;
    border-radius: 4px;
    margin-right: 20px;
}