:root {
  /*Variáveis - Paleta de Cores*/
  --cor1: #0086ff; /*AZUL PRINCIPAL*/
  --cor2: #58c22e; /*VERDE*/
  --cor3: #8c8c8c; /*CINZA*/
  --cor4: #e8f0fe; /*GELO*/
  --cor5: #ffffff; /*BRANCO*/

  /*Variáveis = Fontes do Site*/
  --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
  --fonte-destaque: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: var(--cor1);
}

.App_login { /*AJUSTE DA IMAGEM DE FUNDO*/
  height: 100vh; /* 100% da altura da viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('sean-pollock-PhYq704ffdA-unsplash.jpg');
  background-size: cover; /* Para garantir que a imagem cubra todo o elemento */
}


.login_card {
  background-color: #1f23a4d0;
  border-radius: 0.7rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 35%;
  height: 85%;
  display: flex; /* Adicionado para alinhar itens verticalmente */
  flex-direction: column; /* Itens empilhados verticalmente */
  text-align: center; /* centralizar texto */
  justify-content: center;
  align-items: center;
}


.logo_login { /*imagem do robozinho*/
  margin: -0.5em auto 0 auto;
  max-width: 220px;
}

.title2 { /*mensagem de login*/
  color: var(--cor4);
  font-size: 1em;
  font-family: var(--fonte-padrao);
  font-weight: lighter;
  margin: 3em;
  margin-bottom: 0.4em;
}

.form { /*espaço de inputs*/
  margin: 2%;
}

#input_login {
  font-size: 1rem;
  margin: 0.1rem auto 0.2rem 2%;
  padding: 0.8rem 1.8rem 0.8rem 1.2rem;
  border-radius: 0.7rem;
  background-color: var(--cor5);
  border: none;
  width: 85%;
  display: inline-block; /*inline-block para aparecer ao lado do alerta */
  /* border-bottom: 0.3rem solid transparent; */
  transition: all 0.3s;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#input_password {
  font-size: 1rem;
  margin: 0.1rem auto 2rem 2%;
  padding: 0.8rem 1.8rem 0.8rem 1.2rem;
  border-radius: 0.7rem;
  background-color: var(--cor5);
  border: none;
  width: 85%;
  display: inline-block; /* Alterado para inline-block para aparecer ao lado do alerta */
  /* border-bottom: 0.3rem solid transparent; */
  transition: all 0.3s;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.alert-info {
  cursor: default;
  font-size: 1.2rem; 
  margin-left: 5px; 
  display: inline-block; /*inline-block para aparecer ao lado do input */
  vertical-align: middle; /* Alinhar verticalmente com o input */
  color: var(--cor5); 
}

.button1,
.button1:visited,
.button1:hover,
.button1:active {
  background-color: var(--cor2);
  color: var(--cor5);
  text-decoration: none;
  border: none;
  border-radius: 0.7rem;
  font-size: 1.2em;
  font-weight: lighter;
  padding: 4% 10%;
  text-align: center;
  margin: 0.3em;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.button1:hover {
  background-color: #3e8721;
  transition: 0.3s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 0.8em;
}

.dropdown span:hover .dropdown-content {
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}