
/* body {
    background-image: url(./sean-pollock-PhYq704ffdA-unsplash.jpg);
    background-size: cover; 
    background-position: center; 
} */


.not-found {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not-found h1 {
    font-size: 120px;
    color: white;
}

.not-found a {
    text-decoration: none;
    background-color: rgb(32, 172, 28);
    color: white;
    padding: 10px;
    margin-top: 14px;
}